.post-header {
  height: 40px;
}


.user-detail {
  p {
    &:first-child{
      &::after {
        content: "-";
        margin-left: 5px;
      }
      margin-right: 5px;
    }
    margin : 0;
  }
  font-size: 12px;
  display: flex;
}

.post-container {
  width: 80%;
  margin: 0 auto;
}

.post-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.divider {
  width: 95%;
  margin: 25px auto;
  background-color: var(--text-color);
  height: 1px;
  opacity: 40%;
}

.comment {
  p:first-child {
    font-size: 12px;
  }
  p {
    margin: 0;
  }
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.comment-likes {
  svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
  }
  p {
    margin-bottom: 3px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.liked {
  fill: var(--text-color);
}